.displaced {
	position: absolute;
	left: -5000px;
}

.signin {
	float: right;
	margin-left: 12px;
}

a.facebook-signin {
	background: url('../images/signin/facebook_signin.png');
}
a.twitter-signin {
	background: url('../images/signin/twitter_signin.png');
}
		
a.rollover {
	display: block;
	width: 150px;
	height: 22px;
	text-decoration: none;
}
a.rollover:hover {
	background-position: 0 -24px;
}
a.rollover:active {
	background-position: 0 -48px;
}